<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
</head>
<body>
<h1>首页</h1>
<!--未认证用户显示-->
<h2 shiro:guest="">你好游客</h2>
<!--认证或已记住用户显示-->
<h2 shiro:user="">你好用户</h2>
<a th:href="@{/add}">增加</a>
<br>
<a th:href="@{/delete}">删除</a>
<br>
<a th:href="@{/update}">更新</a>
<br>
<a th:href="@{/select}">查找</a>
</body>
</html>